# Python virtual environment
venv/
.oc2-env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS-specific files
.DS_Store


# configs
configs/

src/otupy/actuators/ctxd/proxmox.py
src/otupy/actuators/ctxd/ctxd_actuator_proxmox_obsolete.py