azure-mgmt-resource>=18.0.0
azure-identity>=1.5.0
azure-mgmt-storage
azure-storage-blob
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-resourcegraph
azure.mgmt.keyvault
azure.mgmt.containerregistry
azure.mgmt.containerservice
azure.mgmt.msi
azure.mgmt.communication