# Core
aenum==3.1.15
cbor2==5.6.5
email_validator==2.2.0
fqdn==1.5.1
idna==3.11
macaddress==2.0.2
mediatype==0.1.6
rfc3987==1.3.8
xmltodict==0.14.2
pyyaml==6.0.3
ruamel.yaml==0.18.17
jsonschema
protobuf==3.20.0

# Web / API
Flask==3.1.3
flask_api==3.1
Werkzeug==3.1.6
gunicorn==25.1.0
Requests==2.32.5

# Scheduling
apscheduler==3.11.2

# Messaging
paho_mqtt==2.1.0
kafka_python==2.3.0

# Database
pymongo==4.15.5

# Networking / Linux
pybrctl==0.1.4
pyroute2==0.9.5

# Container / Orchestration
containerd==1.5.3
docker-py==1.10.6
kubernetes==34.1.0
bcc

# gRPC
grpcio==1.78.0

# Monitoring
watchdog==6.0.0

# Security / SBOM
cyclonedx-python-lib==11.6.0
python-dotenv==1.2.2

# Azure
azure-common==1.1.28
azure-core==1.37.0
azure-identity>=1.5.0
azure-mgmt-core==1.6.0
azure-mgmt-resource>=18.0.0
azure-mgmt-network==30.1.0
azure-mgmt-compute
azure-mgmt-storage
azure-mgmt-containerservice
azure-mgmt-containerregistry
azure-mgmt-keyvault
azure-mgmt-msi
azure-mgmt-communication
azure-storage-blob
azure-mgmt-resourcegraph
azure.mgmt.sql
azure.mgmt.web

# OpenStack
openstacksdk==4.8.0

# Proxmox
proxmoxer